<div class="expense md-whiteframe-z1">
  <md-toolbar class="md-default">

    <div class="md-toolbar-tools">
      <h2 class="md-flex">Expenses list</h2>
      <span flex></span>
      <md-button class="md-raised" ui-sref="expenseCreate">Create expense</md-button>
    </div>

  </md-toolbar>

  <div class="content-wrapper md-padding">

    <md-list flex>
      <md-subheader class="md-no-sticky">Expenses</md-subheader>
      <md-list-item class="md-1-line" ng-repeat="item in $ctrl.expenses" ng-click="null">
        <div class="md-list-item" layout="row" flex>
          <h3 flex="20">{{ item.amount|number:2 }}</h3>
          <p flex>{{ item.title }}</p>
          <p flex="20">{{ item.date|date }}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>


</div>
