{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "jasmine": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "rules": {
    "class-methods-use-this": 0
  }
}
